.vbox{
    display:flex;
    flex-direction:column;
    row-gap: 30px;
    margin: 30px auto 0px;
}

.valute {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 100%;
    row-gap: 30px;
}

.vcard {
    display: flex;
    justify-content: center;
    align-items: center;
}


.vtitle {
    color: #3f3f3f;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

.nominal {
    font-size: 14px;
    font-weight: normal;
    width: 70px;
}

.value {
    font-size: 14px;
    font-weight: normal;
    width: 150px;
}

.button {
    font-size: 14px;
    font-weight: normal;
    border: none;
    background: #fff;
    width: 150px;
}

.previous {
    font-size: 14px;
    font-weight: normal;
    width: 150px;
}